@include media-query(lap-and-up){ //TODO: warto poprawić wcięcia. Nie widać co jest zagniezdzone w media-query(lap-and-up)
.l-float-list li, // TODO: po co bardziej zlozony selektor, skoro li mogloby dostac l-float-item ?
.l-float-item{
  float: left;
}
    
// TODO: czy to konsekwentne? l-float-item floatuje do lewej, a l-float-item-right do prawej?
.l-float-item-right{
  float: right;
}
.l-three-in-row{ // TODO: troche niefortunnie. .l-three-in-row jest czyms generycznym, nie powinnismy narzucac, ze moze byc stosowane tylko z li. Poza tym w srodku takiej listy, moga byc inne listy, ktorych li juz powinny miec 100%; warto poprawic.
  li{
    width: 33.3%;
    padding-right: $base-spacing-unit-medium;
  }
  li:nth-of-type(3n){
    padding-right: 0;
  }
}
.l-two-in-row{ // TODO: malo generyczne i trudno rozszerzalne. od biedy moze zostac
  .l-float-item:first-child{
    width: 60%;
    padding-right: 45px;
  }
  .l-float-item:nth-child(2){
    width: 40%;
  }
}

} //TODO: absolutnie koniecznie warto poprawic wciecia :) 

@include media-query(desk){ //TODO: poprawic wciecia.
.content-wrapper.l-additional-gutter{  // TODO: a po co tutaj to parowanie klas? nie wystarczy samo .l-additional-gutter? Po co zawezac jego dzialanie?
  padding-left: 110px;
  padding-right: 110px;
}
}